extends base.pug
    
block content
    h4 Change Title of Video
    //- form을 제출할 때, HTTP Post 요청이 서버로 전송됨
    form(method="POST")
        input(placeholder="Title", required, type="text", name="title")
        input(value="Save", type="submit")